.DS_Store
.vscode/
__pycache__/

ats*.h5
checkpoint*.h5
ats*.xmf
observations.csv

1-hydrology/results/
2-transport/results/
3-submesh/results/

slides/slides*bk*.Rmd
slides/imgs/R/
package*
notebooks/.ipynb_checkpoints/
node_modules/
